body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: whitesmoke;
}

header {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px white;
}

#exploreNow {
  padding: 20px 35px;
  margin: 5px;
  margin-right: 100px;
  cursor: pointer;
}

li {
  color: white;
  padding: 20px;
  cursor: pointer;
  list-style: none;
  font-size: 25px;
}

#list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-left: 60px;
}

main {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  margin: 2px 20px;
  color: whitesmoke;
  border-radius: 0px 0px 30px 30px;
}

main h1 {
  font-size: 3em;
}

button {
  background-color: whitesmoke;
  border-radius: 50px;
  color: black;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 40px 0px;
  cursor: pointer;
}

#image {
  padding: 50px;
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: color-burn;
}

#item {
  padding: 50px;
  width: 50%;
  height: 70vh;
}
